/* taeb-switch styles */
.taeb-switch {
    position: relative;
  }
  
  .taeb-switch:after {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    transition: left cubic-bezier(0.88, -0.35, 0.565, 1.35) 0.4s;
    border-radius: 27.5px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #0b53be;
    height: 100%;
    z-index: 0;
  }
  
  .taeb-switch.left:after {
    left: 0;
  }
  
  .taeb-switch.right:after {
    left: 50%;
  }
  
  .taeb-switch .taeb {
    display: inline-block;
    width: 50%;
    padding: 5px 0;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: color 200ms;
    font-size: 10px;
    font-weight: bold;
    line-height: normal;
    color: #0b53be;
  }
  
  .taeb-switch .taeb.active {
    color: #f4f4f4;
  }
  
  /* other styles */
  
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }
  
  * {
    outline: 0;
  }
  
  .text-center {
    text-align: center;
  }
  
  .wrapper {
    border-radius: 37px;
    background-color: #f4f4f4;
    padding: 4px;
    width: 100%;
    max-width: 316px;
    margin-left: auto;
    margin-right: auto;
  }